.textForm {
  width: 300px;
  position: relative;
  top: 50px;
  left: 50px;
  background: transparent;
  border: none;
  outline: none;
}

.sendButton {
  width: 100px;
  position: relative;
  top: 60px;
  left: 100px;
  transition: 1s;
}

.sendButton:hover {
  background-color: rgb(12, 122, 12);
}

.allTodos {
  color: black;
  position: fixed;
  /* TODO: 位置を修正しないといけない */
  bottom: 1px;
}

.singleTodo {
  padding-bottom: 50px;
  font-size: 20px;
}

.allTodos button {
  margin-left: 10px;
}
